autostart
base16
base16-shell
cef_user_data
chromium
configstore
dconf
dotfiles
enchant
eog
evolution
gedit
GIMP
gnome-control-center
gnome-session
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
ibus
jack
libreoffice
lutris
menus
nautilus
picom
procps
pulse
rncbc.org
update-notifier
wal
wpg
zathura
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
